.post-edit-form {
  width: 300px;
}
.post-edit-form-upper-spacer {
  position: relative;
  height: 30px;
}
.post-edit-form-avatar {
  float: left;  
}
.post-edit-form-content {
  width: 254px;
  resize: none;
}
.post-edit-form-button-block {
  clear: both;
}
.post-edit-form-close-button {
  position: absolute;
  right: 0;
  top: 0;
}

.post {
  border: 1px solid gray;
  width: 400px;
  margin-bottom: 10px;
  padding: 6px;
}
.post-header {
  display: flex;
  align-items: center;
}

body {
  margin: 20px;
}